Screen > Label {
    layout: vertical;
    color: white;
    box-sizing: border-box;
}

#location {
    height: 2fr;
    width: 100%;
    border: round $secondary;
    border-title-align: left;
}

#instruments {
    height: 1fr;
    width: 100%;
    border: double $secondary;
    border-title-align: left;
}
