Screen > Label {
    width: 100%;
    height: 5;
    content-align: center middle;
    color: white;
    margin: 1;
    box-sizing: border-box;
}

#location {
    border: round $secondary;
    border-title-align: left;
}

#instruments {
    border: double $secondary;
    border-title-align: left;
}